@media only screen and (min-width: 320px) and (max-width: 550px) {
	.MasterFormContainer {
		overflow: hidden;
	}

	.RegisterForm {
		display: block;

		width: 80%;
		font-family: "Gotham-Rounded";
		margin: 3.8rem auto;
		padding: 10px;
		box-shadow: -8px 10px 5px 1px rgba(0, 0, 0, 0.48);
		background-color: rgb(40, 95, 139);
	}

	.RegisterForm input {
		display: block;
		margin: 1.4rem auto;
		width: 90%;
		height: 48px;
		padding: 10px;
		font-size: 1.3rem;
	}

	.UsernameLabel,
	.PasswordLabel,
	.NameLabel,
	.EmailLabel {
		display: block;
		font-size: 1.5rem;
		margin: 0 auto;
		font-family: "Gotham-Rounded-Light";
		color: #ffc70e;
	}

	#SignInBtn,
	#SignUpBtn {
		margin: 4rem auto;
		border: 1px solid var(--fourthdary);
		background: var(--thirdary);
		font-family: "Gotham-Rounded";
		color: var(--fourthdary);
		border-style: none;
	}

	#SignUpBtn:hover {
		font-family: "Gotham-Rounded";
		font-size: 1.38rem;
	}

	.AlreadyHaveAccountLink {
		text-decoration: none;
		color: var(--primary);
	}

	.AlreadyHaveAccountLink:hover {
		text-decoration: none;
		color: var(--primary);
	}

	.SwappuyoLoginTitle {
		margin-top: 5rem;
		text-align: center;
		color: var(--secondary);
		font-family: "Gotham-Rounded-Light";
	}

	.SwappuyoLoginTitle img {
		width: 250px;
	}
}

@media only screen and (min-width: 551px) and (max-width: 1049px) {
	.MasterFormContainer {
		overflow: hidden;
	}

	.RegisterForm {
		display: block;
		width: 400px;
		font-family: "Gotham-Rounded";
		margin: 3.8rem auto;
		padding: 10px;
		box-shadow: -8px 10px 5px 1px rgba(0, 0, 0, 0.48);
		background-color: rgb(40, 95, 139);
	}

	.RegisterForm input {
		display: block;
		margin: 1.4rem auto;
		width: 90%;
		height: 48px;
		padding: 10px;
		font-size: 1.3rem;
	}

	.UsernameLabel,
	.PasswordLabel,
	.NameLabel,
	.EmailLabel {
		display: block;
		font-size: 1.5rem;
		margin: 0 auto;
		font-family: "Gotham-Rounded-Light";
		color: #ffc70e;
	}

	#SignInBtn,
	#SignUpBtn {
		margin: 4rem auto;
		border: 1px solid var(--fourthdary);
		background: var(--thirdary);
		font-family: "Gotham-Rounded";
		color: var(--fourthdary);
		border-style: none;
	}

	#SignInBtn:hover {
		margin: 4rem auto;
		font-family: "Gotham-Rounded";
		color: var(--primary);
	}

	.AlreadyHaveAccountLink {
		text-decoration: none;
		color: var(--primary);
	}

	.AlreadyHaveAccountLink:hover {
		text-decoration: none;
		color: var(--primary);
	}

	.SwappuyoRegisterTitle {
		margin-top: 5rem;
		text-align: center;
		color: var(--secondary);
		font-family: "Gotham-Rounded-Light";
	}

	.SwappuyoRegisterTitle img {
		width: 400px;
	}
}

@media only screen and (min-width: 1051px) and (max-width: 1299px) {
	.MasterFormContainer {
		overflow: hidden;
	}

	.RegisterForm {
		display: block;
		width: 38%;
		font-family: "Gotham-Rounded";
		margin: 3.8rem auto;
		padding: 10px;
		box-shadow: -8px 10px 5px 1px rgba(0, 0, 0, 0.48);
		background-color: rgb(40, 95, 139);
	}

	.RegisterForm input {
		display: block;
		margin: 1.4rem auto;
		width: 90%;
		height: 48px;
		padding: 10px;
		font-size: 1.3rem;
	}

	.NameLabel,
	.EmailLabel,
	.UsernameLabel,
	.PasswordLabel {
		display: block;
		font-size: 1.5rem;
		margin: 0 auto;
		font-family: "Gotham-Rounded-Light";
		color: #ffc70e;
	}

	#SignInBtn,
	#SignUpBtn {
		margin: 4rem auto;
		border: 1px solid var(--fourthdary);
		background: var(--thirdary);
		font-family: "Gotham-Rounded";
		color: var(--fourthdary);
		border-style: none;
	}

	#SignInBtn:hover {
		margin: 4rem auto;
		font-family: "Gotham-Rounded";
		color: var(--primary);
	}

	.DontHaveAccountLink {
		text-decoration: none;
		color: var(--primary);
	}

	.DontHaveAccountLink:hover {
		text-decoration: none;
		color: var(--primary);
	}

	.SwappuyoLoginTitle {
		margin-top: 5rem;
		text-align: center;
		color: var(--secondary);
		font-family: "Gotham-Rounded-Light";
	}

	.SwappuyoLoginTitle img {
		width: 330px;
	}
}

@media only screen and (min-width: 1300px) and (max-width: 2160px) {
	.MasterFormContainer {
		overflow: hidden;
	}

	.RegisterForm {
		display: block;
		width: 26%;
		font-family: "Gotham-Rounded";
		margin: 3.8rem auto;
		padding: 10px;
		box-shadow: -8px 10px 5px 1px rgba(0, 0, 0, 0.48);
		background-color: rgb(40, 95, 139);
	}

	.RegisterForm input {
		display: block;
		margin: 1.4rem auto;
		width: 90%;
		height: 48px;
		padding: 10px;
		font-size: 1.3rem;
	}

	.UsernameLabel,
	.PasswordLabel,
	.NameLabel,
	.EmailLabel {
		display: block;
		font-size: 1.5rem;
		margin: 0 auto;
		font-family: "Gotham-Rounded-Light";
		color: #ffc70e;
	}

	#SignInBtn,
	#SignUpBtn {
		margin: 4rem auto;
		border: 1px solid var(--fourthdary);
		background: var(--thirdary);
		font-family: "Gotham-Rounded";
		color: var(--fourthdary);
		border-style: none;
	}

	#SignInBtn:hover {
		margin: 4rem auto;
		font-family: "Gotham-Rounded";
		color: var(--primary);
	}

	.AlreadyHaveAccountLink {
		text-decoration: none;
		color: var(--primary);
	}

	.AlreadyHaveAccountLink:hover {
		text-decoration: none;
		color: var(--primary);
	}

	.SwappuyoLoginTitle {
		margin-top: 5rem;
		text-align: center;
		color: var(--secondary);
		font-family: "Gotham-Rounded-Light";
	}

	.SwappuyoLoginTitle img {
		width: 300px;
	}
}
