@media only screen and (min-width: 320px) and (max-width: 560px) {
	.wantListContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 0;
		min-width: 0;
		list-style: none;
		padding-left: 0;
	}

	.wantListItem {
		margin: 0 auto;
		width: 95%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		word-wrap: break-word;
		font-family: Gotham-Rounded-Light;
		padding: 10px;
		height: auto;
		color: #241d2b;
		background-color: var(--secondary);
		-webkit-box-shadow: 0 10px 6px -6px #777;
		-moz-box-shadow: 0 10px 6px -6px #777;
		box-shadow: 0 10px 6px -6px #777;
		margin: 10px;
		border: 1px solid aliceblue;
	}

	.wantListItem a {
		display: block;
		float: left;
		color: #30b992;
		margin: 10px 0 10px 0;
	}

	.delete-want-button {
		width: 60px;
		height: 30px;

		border-radius: 1px 5px 10px;
		border: none;
		background-color: rgb(151, 16, 16);
		margin-left: auto;
		color: #ffff;
		text-transform: uppercase;
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 561px) and (max-width: 1199px) {
	.wantListContainer {
		display: grid;
		grid-template-columns: 50% 50%;
		justify-content: space-around;
		flex-direction: column;
		padding-left: 0;
		min-height: 0;
		min-width: 0;
	}

	.wantListItem {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		word-wrap: break-word;
	}
	.wantListItem a {
		display: block;
		float: left;
		color: #30b992;
		margin: 10px 0 10px 0;
	}

	.wantListItem {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		word-wrap: break-word;
		font-family: Gotham-Rounded-Light;
		padding: 10px;
		height: auto;
		color: #241d2b;
		background-color: var(--secondary);
		-webkit-box-shadow: 0 10px 6px -6px #777;
		-moz-box-shadow: 0 10px 6px -6px #777;
		box-shadow: 0 10px 6px -6px #777;
		margin: 10px;
		border: 1px solid aliceblue;
	}

	.delete-want-button {
		width: 60px;
		height: 30px;

		border-radius: 1px 5px 10px;
		border: none;
		background-color: rgb(151, 16, 16);
		margin-left: auto;
		color: #ffff;
		text-transform: uppercase;
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 2500px) {
	.wantListContainer {
		display: grid;
		justify-content: space-between;
		padding-left: 0;
		min-height: 0;
		min-width: 0;
		max-width: 100%;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.wantListItem a {
		display: block;
		float: left;
		color: #30b992;
		margin: 10px 0 10px 0;
	}

	.wantListItem {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		word-wrap: break-word;
		font-family: Gotham-Rounded-Light;
		padding: 10px;
		height: 350px;
		color: #241d2b;
		background-color: var(--secondary);
		-webkit-box-shadow: 0 10px 6px -6px #777;
		-moz-box-shadow: 0 10px 6px -6px #777;
		box-shadow: 0 10px 6px -6px #777;
		margin: 10px;
		border: 1px solid aliceblue;
	}

	.delete-want-button {
		width: 60px;
		height: 30px;

		border-radius: 1px 5px 10px;
		border: none;
		background-color: rgb(151, 16, 16);
		margin-left: auto;
		color: #ffff;
		text-transform: uppercase;
		font-size: 1.6rem;
	}
}

.item-author {
	font-family: "Gotham-Italic-Light";
}
