@import url("https://fonts.googleapis.com/css?family=Oxygen");

:root {
	--primary: #2a2e45;
	--secondary: #ecc30b;
}

@font-face {
	font-family: "Gotham-Rounded";
	src: url("./components/styles/fonts/GothamRoundedMedium_21022.ttf");
}

@font-face {
	font-family: "Gotham-Rounded-Light";
	src: url("./components/styles/fonts/GothamRoundedLight_21020.ttf");
}

* {
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;

	height: 100%;
	font-family: "Gotham-Rounded", "Gotham-Rounded-Light";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {
	display: flex;
	justify-content: space-evenly;
}

.is-active {
	font-weight: 800;
}

@media only screen and (max-width: 600px) {
	body {
	}
}
